body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(bg.jpg); */
    background-color: lightblue;
    background-size: cover;
    /* Fit the image to cover the entire container */
    background-repeat: no-repeat;
    /* Prevent image from repeating */
    background-attachment: fixed;
    /* Optional: Keep the image fixed in place */
    font-family: 'Courier New', Courier, monospace;
    font-family: cursive;
    display: flex;
    /* Create a flex container for the body */

    justify-content: center;
    /* Center horizontally */

    align-items: center;
    /* Center vertically */

    min-height: 100vh;
    /* Make sure the body takes the full height of the viewport */
}


.container {

    background-color: rgba(255, 255, 255, 0.3);
    width: 500px;
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 18px;
}

.btn {
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}